GOOGLE_GENERATIVE_AI_API_KEY_FORM=your_secondary_gemini_key_for_magic_fill
GOOGLE_GENERATIVE_AI_API_KEY=your_primary_gemini_key_here
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
